@using OnlineShopeProject.Models;

@{
    int no = 0;
    Model4 db = new Model4();
    Customer c = (Customer)Session["Customer"];
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    ViewBag.Title = "Customer History";

}
<br />

<center><h2 style="color: black; font-family: 'Segoe MDL2 Assets'">Order History <i class=" fa fa-history"></i></h2></center>
<br />
<br />
<table class="table table-bordered  table-responsive-sm  "  >

    @foreach (var o in db.Orders.Where(x => x.STATUS == "Active"))
    {
        no++;
        if (o.CUSTOMER_FID == c.CUSTOMER_ID)
        {
            <tr>

                <th style="background-color:black; color:white">Order #</th>
                <td>@o.ORDER_ID</td>
                <th>Name</th>
                <td>@o.ORDER_NAME</td>
            </tr>
            <tr>
                <th>Payment Type</th>
                <td>@o.ORDER_STATUS</td>
                <th>Current Status</th>
                <td>@o.STATUS</td>

            </tr>

            <tr>
                <th>Address</th>
                <td colspan="3">@o.ORDER_ADDRESS</td>

            </tr>
            <tr  style=" border-spacing: 0 15px;">
                <th>Action</th>
                <td><a href="@Url.Action("OrderCancel","Customers", new {id=o.ORDER_ID})" class="btn btn-dark">Cancel Order</a></td>
                <td colspan="2"><a href="@Url.Action("Invoice","Customers", new {id=o.ORDER_ID})" class="btn btn-dark">View Invoice</a></td>
            </tr>
            <tr height="100px" >
                <th colspan="4"></th>
            </tr>
           

        }
    }

</table>
